Source: volk
Section: libdevel
Priority: optional
Maintainer: A. Maitland Bottoms <bottoms@debian.org>
Build-Depends: cmake,
               debhelper (>= 9.0.0~),
               dh-python,
               doxygen,
               libboost-filesystem-dev,
               libboost-program-options-dev,
               libboost-system-dev,
               libboost-test-dev,
               liborc-0.4-dev,
               pkg-config,
               python,
	       python3,
               python-mako,
	       python3-mako,
	       python-six,
	       python3-six
Standards-Version: 4.1.4
Homepage: http://libvolk.org
Vcs-Browser: https://salsa.debian.org/bottoms/pkg-volk
Vcs-Git: https://salsa.debian.org/bottoms/pkg-volk.git

Package: libvolk1.4
Section: libs
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Multi-Arch: same
Recommends: libvolk1-bin
Suggests: libvolk1-dev
Description: vector optimized functions
 Vector-Optimized Library of Kernels is designed to help
 applications work with the processor's SIMD instruction sets. These are
 very powerful vector operations that can give signal processing a
 huge boost in performance.

Package: libvolk1-dev
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: libvolk1.4 (=${binary:Version}), ${misc:Depends}
Breaks: gnuradio-dev (<<3.7.8), libvolk-dev, libvolk1.0-dev
Replaces: gnuradio-dev (<<3.7.8), libvolk-dev, libvolk1.0-dev
Multi-Arch: same
Description: vector optimized function headers
 Vector-Optimized Library of Kernels is designed to help
 applications work with the processor's SIMD instruction sets. These are
 very powerful vector operations that can give signal processing a
 huge boost in performance.
 .
 This package contains the header files.
 For documentation, see libvolk-doc.

Package: libvolk1-bin
Section: libs
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: libvolk1.4 (=${binary:Version}),
         ${misc:Depends},
         ${python:Depends},
         ${shlibs:Depends}
Breaks: libvolk-bin, libvolk1.0-bin, gnuradio (<=3.7.2.1)
Replaces: libvolk-bin, libvolk1.0-bin, gnuradio (<=3.7.2.1)
Description: vector optimized runtime tools
 Vector-Optimized Library of Kernels is designed to help
 applications work with the processor's SIMD instruction sets. These are
 very powerful vector operations that can give signal processing a
 huge boost in performance.
 .
 This package includes the volk_profile tool.
